/* Begin body */
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;900;700&family=Roboto:wght@100;300;400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 
    "header" 85vh
    "main" auto
    "footer" max-content
    /1fr; 
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}


/* End body */

/* Begin nav */
header {
    font-family: 'Roboto', sans-serif;
    background-image:
    linear-gradient(90deg, #09052f24 0%, #431d5e4b 100%),
    url('./images/bgk-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: scroll;
}
    
.navbar-logo > img {
    padding: 0.1em;
    max-height: 3.3em;
    margin-top: 0.4em;
}
.navbar-logo > p {
    display: inline;
    font-weight: lighter;
    font-size: 30px;
    background-image: linear-gradient(to right, #00e0d0, #3f739b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.5em 0em 0em 0.3em;
    
}
.navbar-logo {
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    flex-direction: row;
    color: #00e0d0;
    justify-content: flex-start;
    margin-top: 0.7rem;

}
.navbar {
    grid-area: 1 / 3 / 1 / 6;
    padding-left: 3em;
}
.navbar-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}
.navbar-links > li {
    padding: 0.3em;
    color: white;
    min-width: fit-content;
    margin: 0.3em;
    
}
.navbar-links > li > a:hover {
    color: #00e0d0;
    transition: ease-in-out 0.4s;
}
.navbar-links > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
}
/* End nav */

/* Begin Hero section */
#heroSection {
    grid-area: 3 / 2 / 4 / 6;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 10em;
    
}
.heroButton {
    border: solid 2px #00e0d0;
    padding: 0.5em;
    margin: 1em;
    font-size: 16px;
    color: #00e0d0;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;

}

#heroSection > h1 {
    width: 780px;
    height: 74px;
    font-size: 32px;
    letter-spacing: 0px;
    font-weight: 900;
    font-family: "Playfair Display";
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
#heroSection > p {
    display: flex;
    max-width: 780px;
    min-width: 500px;
    height: 79px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
}

#hero-s-line { 
    display: block;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
    width: 50px;
    height: 2px;
    background-color: #00dfcf;
    border: none;
}




/* End Hero section */






/* Begin Section 2 */

.section2 {
    width: 100%;
    height: 500px;
    display: flex;
    
    align-items: center;
}

#ourstory {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin:1rem 5rem;
    padding:2rem;
    line-height: 26px;
}

.ourstory-divs {
    flex: 1;
    
    display: flex;
    justify-content: center;
    margin:2rem;
    max-width: 35rem;
    
}

#text{
display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#ourstory-heading {
    font-family: "Playfair Display";
    letter-spacing: 1px;
}

#image img {
    
    min-width: 18rem;
    max-width: 100%; 
    height: auto; 
    float: right;
}

.btn {
    color: turquoise;
    padding: 0.6rem 0.6rem 0.4rem 0.6rem ;
    margin:1rem 0rem;
    font-weight: 600;
    border: 2px solid turquoise;
    text-decoration: none;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
    
  }





/* End Section 2 */






/* Begin Section 3 */

#section3 {
    background-image:linear-gradient(90deg, #09052f24 0%, #431d5e4b 100%), url('./images/bgk-middle.png'); 
    background-size: cover;
    background-position: center;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#watch-our-story {
    text-align: center; 
    color: #fff; 
}

#image img {
    width: 80px; 
    height: auto; 
    margin-bottom: 20px;
}

#text h3 {
    font-size: 10px;
    margin-top: 10px; 
}


#text-play{
    line-height: 4rem;

}

#image-play:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.7s;
}




/* End Section 3 */



/* Begin Section 4 */

#section4{
    text-align: center;
    padding: 3rem;
    
}
#section4 > h2,#section4 > p{
    font-family: "Playfair Display";
    letter-spacing: 1px;
    color: #2f2d35;
}
#expertise{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    margin:3rem auto;
    width: 70%;
}

#section4 hr{
    width:3rem;
}

#div1,#div2{
    border-right: 1px solid rgba(128, 128, 128, 0.219);
    border-bottom:1px solid rgba(128, 128, 128, 0.219) ;
}
#div3{
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}
#div4,#div5{
    border-right: 1px solid rgba(128, 128, 128, 0.219);
}




.expertiseDivs{
padding: 2rem;
transition: 0.5s;
}

.expertiseDivs:hover{
    height: 20rem;
    width:20rem;
    z-index: 2;
    box-shadow: 5px 5px;
    border:2px solid black;
    border-radius: 10px;
    background-color: goldenrod;
    color: white;
}


/* End Section 4 */


/* Begin Section 5 */
#section5{
    background-image:linear-gradient(90deg, #09052f24 0%, #431d5e4b 100%), url("./images/bgk-header.png");
    /* background-size: 120rem; */
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 3rem;
    
}
#section5 > h2, #section5 > p {
    font-family: "Playfair Display";
    letter-spacing: 1px;
}
#section5 > h2{
    font-weight: 500;
}

#section5 hr{
    width: 3rem;
}

#section5 button{
    margin:1rem;
    padding: 0.9rem;
    font-weight: 600;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        
    color:aqua;
    border: 1px solid aqua;
    letter-spacing: 1px;

}

#team{
    display: flex;
    justify-content: center;
    margin:3rem;
}
.teamMember{
    margin: 0.5rem;
    border: 1px solid grey;
}

.teamMember >img{
    width:15rem;
}



/* End Section 5 */


/* Begin Section 6 */

#section6{
    display: flex;
    justify-content: center;
}
#logos{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    
}
#logos img{
    width:10rem;
}

#form form{
    margin: 2rem 0.01rem 0.01rem 0.01rem;
    padding: 0.001rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#form, #client-logos{
    margin:4rem;
    width: 30%;
}

#form > h2, #client-logos > h2 {
    font-family: "Playfair Display";
    letter-spacing: 1px;
}

#form form>*{
    margin-bottom:1.5rem;
}

#form form>input{
    height:2rem;
    padding: 0.5rem;
    margin: 0.05rem 0.05rem 1.5rem 0.05rem;
}

#message{
    padding: 1rem;
}

#submit-button{
    background: linear-gradient(to right,goldenrod  50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    color: turquoise;
    border: 2px solid turquoise;
    width: 8rem;
    font-size: 15px;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
}

#submit-button:hover,#section5 button:hover,.btn:hover,.heroButton:hover{
    background-position: left bottom; 
}

/* End Section 6 */






/* Begin footer */
footer {
    bottom: 0;
    background-image:
    linear-gradient(90deg, #09052f24 0%, #431d5e4b 100%),
    url('./images/bgk-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 17em 1em 17em;
}

.footer-terms > a {
    text-decoration: none;
    font-weight: 400;
    color: white;
    padding: 1em;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
}

.footer-copy > p {
    font-weight: 300;
    color: white;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    padding: 1em;
}

.footer-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 1rem 13rem 1rem 13rem;
    padding: 1em;
    gap: 2rem;

}

.footer-1-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    justify-content: flex-start;
    padding: 1rem;
    
}

.footer-1-1 > p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    color: white;
    font-weight: 300;
    max-width: 25rem;

}
.footer-logo {
    padding: 1em 1em 1em 0em;
    align-items: center;
    display: flex;
}
.footer-logo > img {
    padding: 0.1em;
    max-height: 3.3em;
    margin-top: 0.4em;
}
.footer-logo > p {
    display: inline-block;
    font-weight: lighter;
    font-size: 30px;
    background-image: linear-gradient(to right, #00e0d0, #3f739b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.5em 0em 0em 0.3em;
}
.footer-1-2 , .footer-1-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    max-width: 25rem;
    margin-top: 3rem;
    padding: 1rem;
}

.footer-1-2 > h3, .footer-1-3 > h3 {
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
}

.footer-address, .footer-call {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    display: flex;
    flex: 1;
    gap: 0.2rem;
    justify-content: flex-start;
}

.footer-address > img {
    padding: 0.5rem;
    display: flex;
    max-height: 30px;
    max-width: 30px;
    align-self: flex-start;
    margin-top: 0.6em;
    flex: 1;
}

.footer-address > p, .footer-call > p {
    display: flex;
    letter-spacing: 1px;
    
}

.footer-call > img {
    padding: 0.5rem;
    display: flex;
    max-height: 18px;
    max-width: 18px;
    align-self: flex-start;
    margin-top: 0.6em;
    flex: 1;
}
.footer-sm-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-sm-icons > img {
    padding: 0.2rem;
    display: flex;
    max-height: 35px;
    max-width: 35px;
    align-self: flex-start;
    margin-top: 0.5em;
    flex: 1;
}

.footer-input {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0.7rem 0 0.2rem 0;
}
.footer-input > input {
    display: flex;
    border: solid white 1px;
    background: transparent;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    min-width: 10.3rem;
    padding: 0.7rem;
    color: white;
}
.footer-input > a {
    display: flex;
    max-width: 4rem;
    max-height: 1rem;
    padding: 0.7rem;
    background: rgba(255, 255, 255, 0.5);
}

.footer-terms >a:hover{
    color: #00e0d0;
    transition: ease-in-out 0.4s;
}
/* End footer */