/* Begin body */




/* End body */

/* Begin nav */

/* End nav */

/* Begin Hero section */






/* End Hero section */






/* Begin Section 2 */

.section2 {
    width: 100%;
    height: 500px;
    display: flex;
    
    align-items: center;
}

#ourstory {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.ourstory-divs {
    flex: 1;
    padding: 20px;
}

#image img {
    max-width: 100%;
    height: auto;
    float: right;
}

.btn {
    color: turquoise;
    padding: 0.3rem;
    border: 2px solid turquoise;
    text-decoration: none;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
  }





/* End Section 2 */






/* Begin Section 3 */



/* End Section 3 */



/* Begin Section 4 */

#section4{
    text-align: center;
    padding: 3rem;
}
#expertise{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 33% 33% 33%;
    margin:3rem auto;
    width: 70%;
}

#section4 hr{
    width:3rem;
}

#div1,#div2{
    border-right: 1px solid rgba(128, 128, 128, 0.219);
    border-bottom:1px solid rgba(128, 128, 128, 0.219) ;
}
#div3{
    border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}
#div4,#div5{
    border-right: 1px solid rgba(128, 128, 128, 0.219);
}




.expertiseDivs{
padding: 2rem;
transition: 0.5s;
}

.expertiseDivs:hover{
    height: 20rem;
    width:20rem;
    z-index: 2;
    box-shadow: 5px 5px;
    border:2px solid black;
    border-radius: 10px;
    background-color: goldenrod;
    color: white;
    /* font-size: larger; */
}


/* End Section 4 */


/* Begin Section 5 */
#section5{
    background-image: url("./images/bgk-header.png");
    background-size: 120rem;
    color: white;
    text-align: center;
    padding: 3rem;
    
}

#section5 hr{
    width: 3rem;
}

#section5 button{
    margin:1rem;
    padding: 0.5rem;
    background: linear-gradient(to right, goldenrod 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-out;
        
    color:aqua;
    border: 1px solid aqua;

}

#team{
    display: flex;
    justify-content: center;
    margin:3rem;
}
.teamMember{
    margin: 0.5rem;
    border: 1px solid grey;
}

.teamMember >img{
    width:15rem;
}



/* End Section 5 */


/* Begin Section 6 */

#section6{
    display: flex;
    justify-content: center;
}
#logos{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap:1rem;
    
}
#logos img{
    width:10rem;
}

#form form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

#form, #client-logos{
    margin:4rem;
    width: 30%;
}


#form form>*{
    margin-bottom:1.5rem;
}

#form form>input{
    height:2rem;
    padding: 0.5rem;
}

#message{
    padding: 1rem;
}

#submit-button{
   
    padding: 0.5rem;
    background: linear-gradient(to right,goldenrod  50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    
    color: turquoise;
    border: 2px solid turquoise;
    width: 8rem;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem;
    
}

#submit-button:hover,#section5 button:hover,.btn:hover{
    background-position: left bottom;
    
    
}





/* End Section 6 */






/* Begin footer */



/* End footer */